.navbar{
    background-color: #001971 !important;
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar-nav{
    padding: 10px;
}

.navbar-nav li a{
    border-radius: 8px;
    margin: 5px;
    color: #ffffff !important;
    text-align: center;
}

.navbar-nav li .active, .navbar-nav li a:hover{
    background-color: rgba(0, 0, 0, .50) !important;
    transition: .4s;
}