<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>validarSesion.do</filter-name>
        <filter-class>ControladorVistas.validarSesion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>validarSesion.do</filter-name>
        <url-pattern>/jsp/adminClientes.jsp</url-pattern>
        <url-pattern>/jsp/citasAdmin.jsp</url-pattern>
        <url-pattern>/jsp/citasUsu.jsp</url-pattern>
        <url-pattern>/jsp/editarCitaUsu.jsp</url-pattern>
        <url-pattern>/jsp/fichaTecnica.jsp</url-pattern>
        <url-pattern>/jsp/productosAdmin.jsp</url-pattern>
        <url-pattern>/jsp/serviciosAdmin.jsp</url-pattern>
        <url-pattern>/jsp/serviciosUsu.jsp</url-pattern>
        <url-pattern>/jsp/vehiculos.jsp</url-pattern>
        <url-pattern>/ActualizarProducto.do</url-pattern>
        <url-pattern>/ActualizarServicio.do</url-pattern>
        <url-pattern>/AdminAddProducto.do</url-pattern>
        <url-pattern>/AdminAddServicio.do</url-pattern>
        <url-pattern>/EliminarProducto.do</url-pattern>
        <url-pattern>/EliminarServicio.do</url-pattern>
        <url-pattern>/EliminarVehiculoUser.do</url-pattern>
        <url-pattern>/MisServiciosUsu.do</url-pattern>
        <url-pattern>/MisVehiculos.do</url-pattern>
        <url-pattern>/MostrarProductosAdmin.do</url-pattern>
        <url-pattern>/MostrarServiciosAdmin.do</url-pattern>
        <url-pattern>/adminAddCliente.do</url-pattern>
        <url-pattern>/adminUpdateCliente.do</url-pattern>
        <url-pattern>/ConfirmaServicioAdmin.do</url-pattern>
        <url-pattern>/ConfirmaAsistenciaAdmin.do</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>ControladorVistas.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>ControladorVistas.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>ControladorVistas.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProductos</servlet-name>
        <servlet-class>ControladorVistas.MostrarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServicios</servlet-name>
        <servlet-class>ControladorVistas.MostrarServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisServiciosUsu</servlet-name>
        <servlet-class>ControladorVistas.MisServiciosUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisVehiculos</servlet-name>
        <servlet-class>ControladorVistas.MisVehiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVehiculoUser</servlet-name>
        <servlet-class>ControladorVistas.EliminarVehiculoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServiciosIndex</servlet-name>
        <servlet-class>ControladorVistas.MostrarServiciosIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitasAdmin</servlet-name>
        <servlet-class>ControladorVistas.CitasAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServiciosAdmin</servlet-name>
        <servlet-class>ControladorVistas.MostrarServiciosAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarServicio</servlet-name>
        <servlet-class>ControladorVistas.ActualizarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServicio</servlet-name>
        <servlet-class>ControladorVistas.EliminarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddCliente</servlet-name>
        <servlet-class>ControladorVistas.adminAddCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateCliente</servlet-name>
        <servlet-class>ControladorVistas.adminUpdateCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddServicio</servlet-name>
        <servlet-class>ControladorVistas.AdminAddServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmaAsistenciaAdmin</servlet-name>
        <servlet-class>ControladorVistas.ConfirmaAsistenciaAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmaServicioAdmin</servlet-name>
        <servlet-class>ControladorVistas.ConfirmaServicioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProductosAdmin</servlet-name>
        <servlet-class>ControladorVistas.MostrarProductosAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProducto</servlet-name>
        <servlet-class>ControladorVistas.AdminAddProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProducto</servlet-name>
        <servlet-class>ControladorVistas.ActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>ControladorVistas.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarFichaTecnica</servlet-name>
        <servlet-class>ControladorVistas.MostrarFichaTecnica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVehiculo</servlet-name>
        <servlet-class>ControladorVistas.UpdateVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificarServicio</servlet-name>
        <servlet-class>ControladorVistas.CalificarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarCitasUsu</servlet-name>
        <servlet-class>ControladorVistas.MostrarCitasUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServiProduAdmin</servlet-name>
        <servlet-class>ControladorVistas.MostrarServiProduAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCita</servlet-name>
        <servlet-class>ControladorVistas.EliminarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarDatosAgendaConfirAdmin</servlet-name>
        <servlet-class>ControladorVistas.MostrarDatosAgendaConfirAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarAtencionServicio</servlet-name>
        <servlet-class>ControladorVistas.ProcesarAtencionServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarAddVehiculo</servlet-name>
        <servlet-class>ControladorVistas.CargarAddVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehiculo</servlet-name>
        <servlet-class>ControladorVistas.AddVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerHorarios</servlet-name>
        <servlet-class>ControladorVistas.ObtenerHorarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarCita</servlet-name>
        <servlet-class>ControladorVistas.InsertarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePersona</servlet-name>
        <servlet-class>ControladorVistas.UpdatePersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>ControladorVistas.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEstadisticas</servlet-name>
        <servlet-class>ControladorVistas.MostrarEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValoresEstadisticas</servlet-name>
        <servlet-class>ControladorVistas.ValoresEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarReportesCitas</servlet-name>
        <servlet-class>ControladorVistas.MostrarReportesCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarReporteCitas</servlet-name>
        <servlet-class>ControladorVistas.FiltrarReporteCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServiciosCotizacion</servlet-name>
        <servlet-class>ControladorVistas.MostrarServiciosCotizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tipoReporte</servlet-name>
        <servlet-class>ControladorVistas.tipoReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProductos</servlet-name>
        <url-pattern>/MostrarProductos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServicios</servlet-name>
        <url-pattern>/MostrarServicios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisServiciosUsu</servlet-name>
        <url-pattern>/MisServiciosUsu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisVehiculos</servlet-name>
        <url-pattern>/MisVehiculos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVehiculoUser</servlet-name>
        <url-pattern>/EliminarVehiculoUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServiciosIndex</servlet-name>
        <url-pattern>/MostrarServiciosIndex.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitasAdmin</servlet-name>
        <url-pattern>/CitasAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServiciosAdmin</servlet-name>
        <url-pattern>/MostrarServiciosAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarServicio</servlet-name>
        <url-pattern>/ActualizarServicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddCliente</servlet-name>
        <url-pattern>/adminAddCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServicio</servlet-name>
        <url-pattern>/EliminarServicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateCliente</servlet-name>
        <url-pattern>/adminUpdateCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddServicio</servlet-name>
        <url-pattern>/AdminAddServicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmaAsistenciaAdmin</servlet-name>
        <url-pattern>/ConfirmaAsistenciaAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmaServicioAdmin</servlet-name>
        <url-pattern>/ConfirmaServicioAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProductosAdmin</servlet-name>
        <url-pattern>/MostrarProductosAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProducto</servlet-name>
        <url-pattern>/AdminAddProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProducto</servlet-name>
        <url-pattern>/ActualizarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarFichaTecnica</servlet-name>
        <url-pattern>/MostrarFichaTecnica.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVehiculo</servlet-name>
        <url-pattern>/UpdateVehiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificarServicio</servlet-name>
        <url-pattern>/CalificarServicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarCitasUsu</servlet-name>
        <url-pattern>/MostrarCitasUsu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServiProduAdmin</servlet-name>
        <url-pattern>/MostrarServiProduAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCita</servlet-name>
        <url-pattern>/EliminarCita.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarDatosAgendaConfirAdmin</servlet-name>
        <url-pattern>/MostrarDatosAgendaConfirAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarAtencionServicio</servlet-name>
        <url-pattern>/ProcesarAtencionServicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarAddVehiculo</servlet-name>
        <url-pattern>/CargarAddVehiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehiculo</servlet-name>
        <url-pattern>/AddVehiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerHorarios</servlet-name>
        <url-pattern>/ObtenerHorarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarCita</servlet-name>
        <url-pattern>/InsertarCita.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePersona</servlet-name>
        <url-pattern>/UpdatePersona.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEstadisticas</servlet-name>
        <url-pattern>/MostrarEstadisticas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValoresEstadisticas</servlet-name>
        <url-pattern>/ValoresEstadisticas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarReportesCitas</servlet-name>
        <url-pattern>/MostrarReportesCitas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarReporteCitas</servlet-name>
        <url-pattern>/FiltrarReporteCitas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServiciosCotizacion</servlet-name>
        <url-pattern>/MostrarServiciosCotizacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tipoReporte</servlet-name>
        <url-pattern>/tipoReporte.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
</web-app>
