<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>dontCacheFilter.do</filter-name>
        <filter-class>ControladorVistas.dontCacheFilter</filter-class>
        <init-param>
            <param-name>jsp</param-name>
            <param-value>*.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>dontCacheFilter.do</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>ControladorVistas.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>ControladorVistas.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>ControladorVistas.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProductos</servlet-name>
        <servlet-class>ControladorVistas.MostrarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServicios</servlet-name>
        <servlet-class>ControladorVistas.MostrarServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dontCookie</servlet-name>
        <servlet-class>ControladorVistas.dontCookie</servlet-class>
        <init-param>
            <param-name>cookie</param-name>
            <param-value>*</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MisVehiculos</servlet-name>
        <servlet-class>ControladorVistas.MisVehiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVehiculoUser</servlet-name>
        <servlet-class>ControladorVistas.EliminarVehiculoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitasAdmin</servlet-name>
        <servlet-class>ControladorVistas.CitasAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProductos</servlet-name>
        <url-pattern>/MostrarProductos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServicios</servlet-name>
        <url-pattern>/MostrarServicios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dontCookie</servlet-name>
        <url-pattern>/dontCookie.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisVehiculos</servlet-name>
        <url-pattern>/MisVehiculos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVehiculoUser</servlet-name>
        <url-pattern>/EliminarVehiculoUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitasAdmin</servlet-name>
        <url-pattern>/CitasAdmin.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>
