
.contenido
{ 
    text-align: center;
    display: flex;
    justify-content: center;
} 



.tittle-carrusel{

    font-size: 80px;
}

@media only screen and (min-width:0px) and (max-width:540px){
    
    .tittle-carrusel{
        font-size: 40px;
    }
    }
    
    @media only screen and (min-width:540px) and (max-width:720px){
       
        .tittle-carrusel{
        
            font-size: 60px;
        }
         
        }
    
    @media only screen and (min-width:720px) and (max-width:767px){
            .tittle-carrusel{
        
                font-size: 70px;
            }
         
        }
    
    @media only screen and (min-width:768px) and (max-width:960px){
            .tittle-carrusel{
        
                font-size: 75px;
            }
        }
    
    @media only screen and (min-width:960px) and (max-width: 1200px){
            .tittle-carrusel{
                font-size: 80px;
            }
        
        }
    
    @media only screen and (min-width:1200px)and (max-width: 1300px){
        
            .tittle-carrusel{
                font-size: 80px;
            }
              
            }
    
    @media only screen and (min-width:1366px){
                .tittle-carrusel{
                    font-size: 64px;
                }
         } 
    
    
    
    @media only screen and (min-width:1600px) and (max-width: 1900px){
        .tittle-carrusel{
            font-size: 80px;
        }
    } 
    
    @media only screen and (min-width:1920px) {
        .tittle-carrusel{
            font-size: 90px;
        }
    } 
    

img{
  max-width: 100%; 
}


 #background{
    height: 600px;
} 
 


@media only screen and (min-width:1024px){
    #background{
        width: 1024px;
         height:600px;
    
    } 
} 

@media only screen and (min-width:1152px){
    #background{
        width: 1152px;
         height:600px;
    
    } 
} 

@media only screen and (min-width:1280px){
    #background{
        width: 1280px;
         height:600px;
    
    } 
} 

@media only screen and (min-width:1360px){
    #background{
        width: 1360px;
         height:600px;
    
    } 
} 

@media only screen and (min-width:1366px){
    #background{
        width: 1366px;
         height:600px;
    
    } 
} 

@media only screen and (min-width:1366px){
    #background{
        width: 1400px;
         height:600px;
    
    } 
}  
@media only screen and (min-width:1600px){
    #background{
        width: 1600px;
         height:"100%";
    
    } 
}



@media only screen and (min-width:1680px){
    #background{
        width: 1680px;
         height:"100%";
    
    } 
}


@media only screen and (min-width:1920px){
    #background{
        width: 1920px;
         height: 800px
    
    } 
}

@media only screen and (min-width:2560px){
    #background{
        width: 2560px;
         height: 1000px
    
    } 
}

@media only screen and (min-width:3840px){
    #background{
        width: 3840px;
         height: 1400px
    
    } 
}

@media only screen and (min-width:7680px){
    #background{
        width: 7680px;
         height:"100%";
    
    } 
}
.container-all{
    position: relative;
    width: 100%;
    /*  max-width: 1000px; 
    width: 1000px; */
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{

    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{

    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked~ .slide{
    animation: none;
    transform: translate3d(calc(-100%*1), 0, 0);
}

input[id="2"]:checked~ .pagination .pagination-item[for="2"]{
    background: #fff;
}
 
input[id="3"]:checked~ .slide{
    animation: none;
    transform: translate3d(calc(-100%*2), 0, 0);
}

input[id="3"]:checked~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay {
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);

    } 
}

/* Boton de Agendar Servicios en el slider del Index */

.boton{
    background:  #001971;
    border-bottom: 5px solid #5168bb;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease 0s;
  }

  .boton:hover{
      background: #5168bb;
  }


 


  /* Responsive del Boton Agendar Servicios */

  @media only screen and (min-width:0px) and (max-width:540px){
    #botonAgendar{
         margin-left: 20px;
         margin-top: 20px;
         width: 150px;
         height: 70px;
         font-size: 17px;
     }
    
    
   }
    
    @media only screen and (min-width:540px) and (max-width:720px){
       
        #botonAgendar{
            margin-left: 50px;
            margin-top: 20px;
            width: 180px;
            height: 70px;
            font-size: 19px;
        }
         
        }
    
    @media only screen and (min-width:720px) and (max-width:767px){
        #botonAgendar{
            margin-left: 85px;
            margin-top: 20px;
            width: 180px;
            height: 70px;
            font-size: 17px;
        }
       
        }
    
    @media only screen and (min-width:768px) and (max-width:960px){
        #botonAgendar{
            margin-left: 85px;
            margin-top: 20px;
            width: 180px;
            height: 70px;
            font-size: 17px;
        }

     
        }
    
    @media only screen and (min-width:960px) and (max-width: 1200px){
        #botonAgendar{
            margin-left: 130px;
            margin-top: 20px;
            width: 180px;
            height: 70px;
            font-size: 17px;
        }
        
        }
    
    @media only screen and (min-width:1200px)and (max-width: 1365px){
        #botonAgendar{
            margin-left: 180px;
            margin-top: 40px;
             width: 220px;
             height: 70px;
             font-size: 22px;
         }
       
            
              
            }
    
    @media only screen and (min-width:1366px) and (max-width: 1599px){
        #botonAgendar{
            margin-left: 220px;
            margin-top: 40px;
             width: 220px;
             height: 70px;
             font-size: 22px;
         }
         
         } 
    
    
    
    @media only screen and (min-width:1600px) and (max-width: 1920px){
        #botonAgendar{
            margin-left: 260px;
            margin-top: 40px;
             width: 280px;
             height: 70px;
             font-size: 22px;
         }
         
          
    } 
    

    @media only screen and (min-width:1920px) {
        #botonAgendar{
            margin-left: 320px;
            margin-top: 40px;
             width: 320px;
             height: 70px;
             font-size: 22px;
         }
         
        
    } 
    
    






/* Seccion sobre nosotros del index: dividido en dos columnas */

#content { 
    overflow:auto; 
   
   
  } 
  

  #left{
    width: 35%; 
    margin-left: 50px;
    padding: 1em; 
  }

  #right { 
   width: 60%;
    margin-right: 10px;
    margin-top: 30px;
    padding: 1em; 

  } 
  
 /* Responsive de la seccion sobre Nosotros del Index */
  @media only screen and (min-width:0px) and (max-width:540px){
    
    #left img{
        height: 250px;
    }
    
  #left{
    width: 75%;
    margin-bottom: -30px;
  }

  #right { 
    width: 70%;
    padding: 1em;
    margin-left: 60px; 
    }
}
    
    @media only screen and (min-width:540px) and (max-width:720px){
       
        #left img{
            width: 500px;
            height: 250px;
        }
        
      #left{
        width: 75%;
        margin-left: 80px;
        margin-bottom: -30px; 
      }
    
      #right { 
        width: 70%;
        padding: 1em;
        margin-left: 90px; 
        }
         
        }
    
    @media only screen and (min-width:720px) and (max-width:767px){
        #left img{
            width: 600px;
            height: 250px;
        }
        
      #left{
        width: 75%;
        margin-left: 90px;
        margin-bottom: -30px; 
      }
    
      #right { 
        width: 70%;
        padding: 1em;
        margin-left: 100px; 
        }
        }
    
    @media only screen and (min-width:768px) and (max-width:960px){
        #left img{
            width: 600px;
            height: 250px;
        }
        
      #left{
        width: 75%;
        margin-left: 100px;
        margin-bottom: -30px; 
      }
    
      #right { 
        width: 70%;
        padding: 1em;
        margin-left: 110px; 
        }
        }
    
    @media only screen and (min-width:960px) and (max-width: 1200px){

        #left img{
            width: 800px;
            height: 320px;
        }
        
        
    #left{
        width: 40%; 
        padding: 1em; 
        }

    #right { 
    width: 50%;
        margin-right: 30px;
        padding: 1em; 
    } 
    
    #left  { float:left;  }
    #right { float:right; } 
            
        
        }
    
    @media only screen and (min-width:1200px)and (max-width: 1300px){
        
        #left img{
            width: 800px;
            height: 380px;
        }
        
        
    #left{
        width: 40%; 
        padding: 1em; 
        }

    #right { 
    width: 50%;
        margin-right: 30px;
        padding: 1em; 
    } 
    
    #left  { float:left;  }
    #right { float:right; } 
            
              
            }
    
    @media only screen and (min-width:1366px){

        #left img{
            height: 380px;
        }

        #left{
            width: 35%; 
            margin-left: 50px;
            padding: 1em; 
          }
        
          #right { 
           width: 60%;
            margin-right: 10px;
            margin-top: 30px;
            padding: 1em; 
          } 
          
          #left  { float:left;  }
          #right { float:right; }  
         } 
    
    
    
    @media only screen and (min-width:1600px) and (max-width: 1900px){
        #left img{
         width: 100%;
            height: 380px;
        }

        #left{
            width: 35%; 
            margin-left: 50px;
            padding: 1em; 
          }
        
          #right { 
           width: 60%;
            margin-right: 20px;
            margin-top: 30px;
            padding: 1em; 
          } 
          
          #left  { float:left;  }
          #right { float:right; }  
          
    } 
    

    @media only screen and (min-width:1920px) {
          #left img{
         width: 100%;
            height: 380px;
        }

        #left{
            width: 35%; 
            margin-left: 50px;
            padding: 1em; 
          }
        
          #right { 
           width: 60%;
            margin-right: 30px;
            margin-top: 30px;
            padding: 1em; 
         
          } 
          
          #left  { float:left;  }
          #right { float:right; }  
    } 
    
    
    .galeria img {
        box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);

        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 300px;
        
   } 


   .galeria .col {
        margin-bottom: 30px;
   }
   
   .titulo{
       text-align: center;
       font-size: 25px;
       font-weight: 700;
       width: 100%;
       background-color: #FFE600;
       height: 55px;
       border-bottom-left-radius: 15px;
       border-bottom-right-radius: 15px;
    
   }

  
.boton2{
    background:  #FFE600;
    border-bottom: 5px solid #5168bb;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease 0s;
  }

  .boton2:hover{
      background: #5168bb;
  }

  .texto{
      text-align: justify;
  }

  .boton3{
    background:  #001971;
    border-bottom: 5px solid #5168bb;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease 0s;
    
    
  }

  .boton3:hover{
      background: #5168bb;
  }